.product-tile {
    margin: var(--sm-space);
    padding: 0;
    background-color: white;
    transition: var(--transition-time) ease;
    border-radius: 10px;
}

.product-tile:hover {
    box-shadow: var(--drop-shadow);
    cursor: pointer;
}

.product-tile a {
    color: black;
    text-decoration: none;
}

.product-img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.product-content {
    padding: var(--xs-space);
}

.product-content h3 {
    text-decoration: none;
    color: black !important;
    font-size: var(--h3-size);
}

.project-carousel button {
    display: inline-block;
}

.slick-prev,.slick-next {
    transform: scale(1.5);
  }

.slick-prev:before,.slick-next:before {
    color: var(--accent);
    opacity: 100%;
}

.project-carousel img {
    padding: var(--lg-space);
    width: 100%;
    object-fit: cover;
}

.project-carousel .center .slick-center {
    transform: scale(1.25, 1.25) !important;
}

.carousel-desc {
    font-style: italic;
}