@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /*colours*/
    --primary: #ACF0D1;
    --primary-hover: #509777;
    --secondary: #ABF3EB;
    --accent: #D86354;
    --accent-hover: #9F4A3E;
    --dark-bg: #00203F;
    --light-bg: #E7EDF3;
    --gradient: linear-gradient(to bottom right, var(--secondary), var(--primary));

    /*typography*/
    --heading-font: "Eczar", serif;
    --body-font: "Noto Sans", sans-serif;
    --tag-font: "Space Grotesk", sans-serif;

    --h1-size: 4em;
    --h2-size: 2.5em;
    --h3-size: 1.2em;
    --body-size: 1em;

    --xbold: 800;
    --mdbold: 500;

    /*spacing*/
    --xs-space: 1em;
    --sm-space: 1.25em;
    --md-space: 1.5em;
    --lg-space: 2em;
    --xl-space: 3em;

    /*element styling*/
    --btn-radius: 20px;
    --transition-time: 0.75s ease;
    --drop-shadow: 5px 10px 7px #888888;
    --btn-outline: 2px solid var(--accent);
}

h1 {
    font-family: var(--heading-font);
    font-size: var(--h1-size) !important;
    font-weight: var(--xbold) !important;
}

h2 {
    font-family: var(--heading-font);
    font-size: var(--h2-size) !important;
    font-weight: var(--xbold) !important;
    margin-top: var(--md-space) !important;
}

p,
a,
li {
    font-family: var(--body-font);
    font-size: var(--body-size);
}

/*back to top buttons*/
.btn-secondary {
    padding: var(--xs-space) var(--sm-space) !important;
    border-radius: var(--btn-radius) !important;
}

#btn-green {
    background-color: var(--primary);
    color: black;
}

#btn-green:hover {
    background-color: var(--primary-hover);
}

#btn-blue {
    background-color: var(--dark-bg);
    color: white;
}

#btn-blue:hover {
    background-color: var(--light-bg);
    color: black;
}

/*skill buttons*/
.btn-primary {
    padding: var(--xs-space) var(--sm-space) !important;
    margin: var(--xs-space);
    transition: var(--transition-time) !important;
}

.btn-primary:hover {
    background-color: var(--accent) !important;
}

/*global navigation*/
#global-nav {
    background-color: var(--dark-bg);
    padding: 0;
    margin: 0;
}

#global-nav>ul {
    padding: var(--sm-space);
    margin: 0;
}

#global-nav>ul li {
    display: inline;
    margin: 0;
}

#global-nav a {
    text-decoration: none;
    color: white;
    padding: var(--sm-space);
    transition: var(--transition-time);
    font-weight: var(--mdbold);
}

#global-nav a:hover {
    background-color: var(--accent);
    color: black;
}

/*navigation end*/

/*hero image*/
#hero-banner {
    background: var(--gradient);
}

#hero-img {
    filter: drop-shadow(-30px -20px #D86354);
}

#hero-img img {
    margin-top: var(--md-space);
    width: 100%;
    clip-path: inset(0% 0% 10% 25% round 50% 50% 0px 0px);
}

/*hero image end*/

/*hobbies marquee*/
.marquee-container {
    background-color: var(--accent);
    padding: var(--sm-space) 0;
}

.marquee-container ul {
    margin: 0;
    padding: 0;
}

.marquee-container ul li {
    display: inline !important;
    list-style-type: none;
    padding-right: 15px;
    font-family: var(--heading-font);
    font-weight: var(--mdbold);
    font-size: var(--h3-size) !important;
}

.marquee-container li::after {
    padding-left: 15px;
    content: "•"
}
/*marquee end*/

/*contact form*/
#contact-form {
    background-color: white;
    padding: var(--lg-space);
    margin: var(--xl-space);
    border-radius: 20px;
}

#contact-form input {
    border: 2px solid var(--light-bg);
}

#contact-form label {
    margin-top: var(--sm-space);
}