@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #ACF0D1;
    --secondary: #ABF3EB;
    --accent: #D86354;
    --dark-bg: #00203F;
    --light-bg: #E7EDF3;

    --heading-font: "Eczar", serif;
    --body-font: "Noto Sans", sans-serif;
    --tag-font: "Space Grotesk", sans-serif;

    --h1-size: 3em;
    --h2-size: 1.5em;
    --h3-size: 1.2em;
    --body-size: 1em;

    --xbold: 800;
    --mdbold: 500;

    --xs-space: 10px;
    --sm-space: 25px;
    --md-space: 40px;
    --lg-space: 65px;

    --transition-time: 0.5s ease;
}

h1 {
    font-family: var(--heading-font);
    font-size: var(--h1-size) !important;
    font-weight: 800 !important;
}

p, a, li {
    font-family: var(--body-font);
    font-size: var(--body-size);
}

/*global navigation*/
#global-nav {
    background-color: var(--dark-bg);
    padding: 0;
    margin: 0;
}

#global-nav > ul {
    padding: var(--sm-space);
    margin: 0;
}

#global-nav > ul li {
    display: inline;
    margin: 0;
}

#global-nav a {
    text-decoration: none;
    color: white;
    padding: var(--sm-space);
    transition: var(--transition-time);
}

#global-nav a:hover {
    background-color: var(--accent);
    color: black;
}